body {
  font-family: 'Muli', sans-serif;
  height: 100%;
  position: relative;
}

.page-content {
  min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
}

button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

input[type=text]:disabled {
  background: #dddddd;
}